[defaults]
callbacks_enabled = profile_tasks
vault_password_file = password_key.txt
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:./roles/ovirt_setup:./roles/testing_configuration:./roles