HOST={{ deploy_eduvirt_host }}

MAIL_HOST={{ deploy_eduvirt_mail_host }}
MAIL_PORT={{ deploy_eduvirt_mail_port }}
MAIL_USERNAME={{ deploy_eduvirt_mail_username }}
MAIL_PASSWORD={{ deploy_eduvirt_mail_password }}
MAIL_SENDER={{ deploy_eduvirt_mail_sender }}
{% if deploy_eduvirt_mail_protocol is defined %}
MAIL_PROTOCOL={{ deploy_eduvirt_mail_protocol }}
{% endif %}
{% if deploy_eduvirt_mail_protocol is defined %}
MAIL_PROPERTIES_ENABLE_AUTH={{ deploy_eduvirt_mail_properties_enable_auth }}
{% endif %}
{% if deploy_eduvirt_mail_properties_starttls is defined %}
MAIL_PROPERTIES_STARTTLS=true
{% endif %}
{% if deploy_eduvirt_mail_properties_ssl_enable is defined %}
MAIL_PROPERTIES_SSL_ENABLE=false
{% endif %}
{% if deploy_eduvirt_mail_properties_ssl_trust is defined %}
MAIL_PROPERTIES_SSL_TRUST=stud.ics.p.lodz.pl
{% endif %}

ISSUER_URI={{ deploy_eduvirt_issuer_uri }}

EDUVIRT_DB_URL={{ deploy_eduvirt_eduvirt_db_url }}
EDUVIRT_DB_USERNAME={{ deploy_eduvirt_eduvirt_db_username }}
EDUVIRT_DB_PASSWORD={{ deploy_eduvirt_eduvirt_db_password }}
{% if deploy_eduvirt_eduvirt_db_driver_class is defined %}
EDUVIRT_DB_DRIVER_CLASS=org.postgresql.Driver
{% endif %}

LIQUIBASE_USER={{ deploy_eduvirt_liquibase_user }}
LIQUIBASE_PASSWORD={{ deploy_eduvirt_liquibase_password }}

ENGINE_URL={{ deploy_eduvirt_engine_url }}
ENGINE_USERNAME={{ deploy_eduvirt_engine_username }}
ENGINE_PASSWORD={{ deploy_eduvirt_engine_password }}

{% if deploy_eduvirt_jks_file is defined %}
JKS_FILE={{ deploy_eduvirt_jks_file}}
{% endif %}
{% if deploy_eduvirt_jks_password is defined %}
JKS_PASSWORD={{ deploy_eduvirt_jks_password }}
{% endif %}

KEYCLOAK_URL={{ deploy_eduvirt_keycloak_url }}
KEYCLOAK_REALM={{ deploy_eduvirt_keycloak_realm }}
KEYCLOAK_PROTOCOL={{ deploy_eduvirt_keycloak_protocol }}
KEYCLOAK_REDIRECT_LOGIN_URI={{ deploy_eduvirt_keycloak_redirect_login_uri }}
KEYCLOAK_REDIRECT_LOGOUT_URI={{ deploy_eduvirt_keycloak_redirect_logout_uri}}
KEYCLOAK_CLIENT_ID={{ deploy_eduvirt_keycloak_client_id}}
KEYCLOAK_CLIENT_SECRET={{ deploy_eduvirt_keycloak_client_secret }}

{% if deploy_eduvirt_default_mail_timezone is defined %}
DEFAULT_MAIL_TIMEZONE={{ deploy_eduvirt_default_mail_timezone }}
{% endif %}
{% if deploy_eduvirt_default_mail_language is defined %}
DEFAULT_MAIL_LANGUAGE={{ deploy_eduvirt_default_mail_language }}
{% endif %}

FRONTEND_LOGIN={{ deploy_eduvirt_frontend_login }}
FRONTEND_CALLBACK={{ deploy_eduvirt_frontend_callback }}

MAINTENANCE_INTERVAL_MIN_AHEAD={{ deploy_eduvirt_maintenance_interval_min_ahead }}

{% if deploy_eduvirt_reservation_window_length is defined %}
RESERVATION_WINDOW_LENGTH={{ deploy_eduvirt_reservation_window_length }}
{% endif %}
{% if deploy_eduvirt_resource_warning_mails_enabled is defined %}
RESOURCE_WARNING_MAILS_ENABLED={{ deploy_eduvirt_resource_warning_mails_enabled }}
{% endif %}

JWS_SECRET={{ deploy_eduvirt_jws_secret }}

{% if deploy_eduvirt_executor_task_time_tolerance is defined %}
EXECUTOR_TASK_TIME_TOLERANCE={{ deploy_eduvirt_executor_task_time_tolerance }}
{% endif %}
{% if deploy_eduvirt_executor_vm_shutdown_grace_time is defined %}
EXECUTOR_VM_SHUTDOWN_GRACE_TIME={{ deploy_eduvirt_executor_vm_shutdown_grace_time }}
{% endif %}
{% if deploy_eduvirt_frontend_reservations_view is defined %}
FRONTEND_RESERVATIONS_VIEW={{ deploy_eduvirt_frontend_reservations_view }}
{% endif %}
{% if deploy_ovirt_frontend_base_path is defined %}
FRONTEND_BASE_PATH={{ deploy_ovirt_frontend_base_path }}
{% endif %}
{% if deploy_ovirt_frontend_reservations_view is defined %}
FRONTEND_RESERVATIONS_VIEW={{ deploy_ovirt_frontend_reservations_view }}
{% endif %}